<form action="/autores/actualizar" method="post">
  <label>Nombre del Autor: </label>
  <input type="text" name="nombre" id="nombre" maxlength="60" required />
  <br />
  <button>Consultar libro</button>
  <br />
</form>

<table border="1">
  <thead>
    <tr>
      <th>No</th>
      <th>Nombre del Autor</th>
      <th>Apellido del Autor</th>
      <th>Fecha publicación primer libro</th>
      <th>Premios</th>
      <th>Fecha de nacimiento</th>
      <th>Fecha de fallecimiento</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    {{#if autores.length}}
      {{#each autores}}
        <tr>
          <td>{{@index}}</td>
          <td>{{nombre}}</td>
          <td>{{apellidos}}</td>
          <td>{{formatearFecha fecPub}}</td>
          <td>{{premios}}</td>
          <td>{{formatearFecha fecNac}}</td>
          <td>{{formatearFecha fecFall}}</td>
        </tr>
      {{/each}}
    {{else}}
      <tr>
        <td colspan="8">No se encontró ningún autor.</td>
      </tr>
    {{/if}}
  </tbody>
</table>

{{#if autores.length}}
  <form action="/autor/editar/{{autores.[0]._id}}" method="get" style="margin-top: 15px;">
    <button type="submit">Modificar Autor</button>
  </form>
{{/if}}
<br />

<form action="/autor/editar/{{autores._id}}" method="post">
  <label>Nombre:</label>
  <input type="text" name="nombre" value="{{autores.nombre}}" /><br />

  <br>

  <label>Apellidos:</label>
  <input type="text" name="apellidos" value="{{autores.apellidos}}" required /><br />

  <br>

  <label>Fecha de Publicación del Primer Libro:</label>
  <input type="date" name="fecPub" value="{{formatearInputDate autores.fecPub}}" required /><br />

  <br>

  <label>Premios:</label><br />
  <textarea name="premios" required>{{autores.premios}}</textarea><br />

  <br>

  <label>Fecha de Nacimiento:</label>
  <input type="date" name="fecNac" value="{{formatearInputDate autores.fecNac}}" required /><br />

  <br>

  <label>Fecha de Fallecimiento:</label>
  <input type="date" name="fecFall" value="{{formatearInputDate autores.fecFall}}" /><br />

  <br>

  <button type="submit">Guardar Cambios</button>
</form>

